<div class="container">
<%= form_with scope: :article, url: articles_path do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, class: "form-control" %>
    </p>
   
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :body, class: "form-control" %>
    </p>
   
    <p>
      <%= form.submit class: "btn btn-info" %>
    </p>
  <% end %>
  <%= link_to 'Back', articles_path %>
  </div>